body {
            text-align: center;
            font-family: Arial, sans-serif;
            font-size: 1.5rem;
            background: black;
            color: white;
        }
        button {
            font-size: 6rem;
            margin: 10px;
            padding: 20px 30px;
            background: black;
            border-radius: 1em;
            border: 4px solid white;
            cursor: pointer;
        }
        .reset {
                font-size: 1em;
                padding: 10px 15px;
                background: white;
                border: none;
                border-radius: .3em;
                font-weight: bold;
            }
            .reset:hover, .reset:focus {  
                background: #eee0ea;
            }
        button:hover, button:focus {
                background: #58023f;
            }

        .result {
            font-size: 4rem;
            font-weight: bold;
        }
        .moves-played {
            display: inline;
            font-size: 6rem;
        }

        .list {
            font-size: 1.5rem;
            text-decoration: none;
            cursor: pointer;
            margin-top: auto;
        }