body {
    font-family: Arial, Helvetica, sans-serif;
}

.todo-grid,
.todo-input-grid {
    display: grid;
    grid-template-columns: 200px 150px 100px;
    column-gap: 10px;
    row-gap: 10px;
    align-items: center;
}
.todo-input-grid {
    margin-bottom: 10px;
    align-items: stretch;
}

.name-input,
.due-date-input{
    font-size: 15px;
    padding: 6px;
}

.add-todo-button {
    background: green;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
}

.delete-todo-button {
    background: darkred;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 10px 0;
    font-size: 0.9em;
}

.clear-todos-button {
    background: red;
    color: white;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    padding: 5px ;
    font-size: 0.9em;

}

.clear-todos {
    margin-top: auto;
    margin: 20px auto;

}